# PostgreSQL
DB_USER=postgres
DB_PASSWORD=CHANGE_THIS_PASSWORD
DB_NAME=borsa_db
DB_HOST=localhost
DB_PORT=5433

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=CHANGE_THIS_PASSWORD
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
